body {
    color: #ecd;
    background-color: black;
    background-image: url('/img/watercolor-flowers.png'), linear-gradient(342deg, rgba(49, 0, 84, 1) 0%, rgba(255, 133, 133, 1) 40%, rgba(235, 204, 162, 1) 100%);;
    background-size: cover;
    background-attachment: fixed;
    max-width: 50em;
    margin: auto;
    padding: 5vw;
    font-family: 'Playfair Display', serif;
    font-size: large;
}

#strip {
    padding: 8ch;
    border-radius: 8ch;
    background-color: #111;
}

#sdc {
    line-height: 2ch;
}

a {
    color: #dbc;
    text-decoration: none;
    font-weight: bold;
}

@media (prefers-color-scheme: light) {
    body {
        color: #111;
    }

    #strip {
        background-color: #ddd;
    }

    a {
        color: #534;
    }
}

pre {
    font-family: 'Lucida Console', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
    overflow-x: auto;
}

.center {
    text-align: center;
}

td {
    padding: .5em;
}

td:nth-child(1), td:nth-child(2), td:nth-child(3) {
    text-align: center;
}
