body {
    color: #ddd;
    background-color: black;
    background-image: url("/img/flower-circuit-tile.jpg");
    max-width: 50em;
    margin: auto;
    padding: 5vw;
    font-family: 'Playfair Display', serif;
}

#strip {
    padding: 8ch;
    border-radius: 8ch;
    background-color: #111;
}

#sdc {
    line-height: 1ch;
}

a {
    color: #dbc;
    text-decoration: none;
    font-weight: bold;
}

@media (prefers-color-scheme: light) {
    body {
        color: #111;
    }

    #strip {
        background-color: #ddd;
    }

    a {
        color: #534;
    }
}

pre {
    font-family: 'Lucida Console', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

.center {
    text-align: center;
}

td {
    padding: .5em;
}

td:nth-child(1), td:nth-child(2), td:nth-child(3) {
    text-align: center;
}
