<!DOCTYPE html>
<html>
  <head>
    <title>Boonie Pepper Bites :: {{ title }} :: so.dang.cool</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='/style.css'>

    <meta property='og:image' content='https://so.dang.cool/preview.png'>
    <meta property='og:title' content='{{ title}}'>
    <meta property='og:image:type' content='image/png'>
    <meta property='og:image:width' content='1024'>
    <meta property='og:image:height' content='512'>

    <!-- Thanks to https://favicomatic.com -->
    <link rel='icon' type='image/png' href='https://so.dang.cool/favicon-196x196.png' sizes='196x196' />
    <link rel='icon' type='image/png' href='https://so.dang.cool/favicon-32x32.png' sizes='32x32' />
    <link rel='icon' type='image/png' href='https://so.dang.cool/favicon-16x16.png' sizes='16x16' />
    <link rel='icon' type='image/png' href='https://so.dang.cool/favicon-128.png' sizes='128x128' />

    <!-- 'Playfair Display' Font: https://fonts.google.com/specimen/Playfair+Display?category=Serif&sort=popularity -->
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'>
  </head>

  <body>

    <div id='strip'>
    <header class='center'>
      <div>
        <pre id='sdc'>
░█▀▀░█▀█░░░░█▀▄░█▀█░█▀█░█▀▀░░░░█▀▀░█▀█░█▀█░█░░
░▀▀█░█░█░░░░█░█░█▀█░█░█░█░█░░░░█░░░█░█░█░█░█░░
░▀▀▀░▀▀▀░▀░░▀▀░░▀░▀░▀░▀░▀▀▀░▀░░▀▀▀░▀▀▀░▀▀▀░▀▀▀
        </pre>
      </div>

      <p><h2><a href='https://so.dang.cool/blog/'>
        Boonie Pepper Bites
      </a></h2></p>
      <p>
        Musings of J.R. "Boonie Pepper" Hill
      </p>
    </header>

    <hr>

    <main>

<!-- BEGIN MAIN -->

{{ main }}

<!-- END MAIN -->

    </main>

    <hr>

    <footer>
      <center>
        <p>2023, J.R. Hill</p>
        <p><em>
          Generated with <a href='https://dt.plumbing'">dt</a>
          (<a href='https://github.com/so-dang-cool/so.dang.cool/tree/core/blog'>source</a>)
        </em></p>
        <p>
          <a href='https://github.com/booniepepper'>github</a> |
          <a href='https://booniepepper.itch.io'>itch.io</a> |
          <a href='https://www.codewars.com/users/booniepepper'>codewars</a> |
          <a href='https://www.deviantart.com/jrhill/gallery'>deviant art</a> |
          <a href='https://www.spoonflower.com/profiles/booniepepper'>spoonflower</a>
        </p>
      </center>
    </footer>

    </div>
  </body>
</html>
